body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

header {
  text-align: center;
}

.topRow,
.middleRow,
.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  /* margin: 10px; looks like this will space out all the 
  boxes w/ 10px between - good for the matching game */
}

.reset {
  display: block;
  margin: auto;
  margin-top: 10px;
}